/* Reset & General */
html, body, h1, h2, p, button, a {
  margin: 0; padding: 0; border: 0; }

body {
  background-color: #f4f4f4;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", serif;
}

/* Typography */
h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }
p { font-size: 1.3em; line-height: 1.6; }

/* Header & Nav */
#mainHeader {
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-right: 1px;
  padding-right: 1px;
}
nav ul {list-style:none;text-align:center;padding-inline-start: 0;
  padding-inline-end: 0;margin-right: 10px;}
nav li {display:inline-block;flex:1;}
nav a {color: white; text-decoration: none;font-size: 1.5em;}
nav a:hover {color:red;}

#logo {border: 0;}
#logo-img { width: 16%; height: auto; border: 0;}

/* Login Page */
.loginPage {
  background: linear-gradient(120deg,#f0b501,#8e44ad);}

.loginForm {
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 20%;
  max-width: 100px;
  padding: 200px;
  border: 2px solid #ccc;
  background-color: #333;
  box-shadow: 0px 0px 10px 0px #333;
  background-size: cover;
  background-position: center;
  border-radius: 5%;}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  max-width: 500px;
  height: 80%;
  max-height: 700px;
  overflow: auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #000;
  border-radius: 5px;}
/* Login Page h1 */
.form h1{
	text-align: center;
	margin-bottom: 60px;
}
/* Login Page username and password input */
.txtb{
	border-bottom: 2px solid #6e9d00;
	position: relative;
	margin: 5px 25px 9px 10px;
  padding-left: 1px;
  outline: none;
}
.txtb input{
	font-size: 15px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0px 5px 1px 0px;
	height: 35px;
}

::placeholder {
  color: #888;
  opacity: 0.5;
}

.input-container {display: flex; align-items: center; margin-bottom: 15px;
  padding-left: 12px;}
.input-container label {margin-bottom:5px;}
.input-container input {width:100%;padding:10px;box-sizing:border-box;
  border-radius: 7px; margin-bottom: 10px;border: 1.5px solid black;}
.input-container button {
  border-radius:7px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color .3s;
  background-color: #00cc99;
  color: white;
}
.input-container input[type="checkbox"]{
  width: auto;
}
button:hover { background-color: #0056b3; }
.error { color: red; text-align: center; }
#remember-me {vertical-align: middle;}

/* Home Page */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#homePage {
  flex: 1;
  margin-top: 40px;
  padding: 0 60px 0 60px; 
}

.homepage-container {
  min-height: 50vh; /* At least 50% of the viewport height */
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  width: 100%;
}

.left-section {
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  border: 1.5px solid grey;
  border-radius: 35px;
  margin: 7px 7px 7px 7px;
  background-color: #333;
  color: white;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
}

.user-info img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info .username {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.login-time {
  font-size: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-top: 1px solid red;
  text-align: center;
}

.right-section {
  width: 65%;
  padding: 20px;
  box-sizing: border-box;
  border: 1.5px solid grey;
  border-radius: 35px;
  margin: 7px 7px 7px 7px;
  background-color: #333;
  color: white;
}

.mailbox {
  overflow-y: scroll;
  max-height: 340px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  margin-top: 5px;
}

.mailbox li {
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 12px;
  list-style: none;
  background-color: white;
  color: #000;
  font-size: 1.2em;
}

.mailbox ul {
  padding-left: 1px;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab.active {
  background-color: #ccc;
  z-index: 1;
}

.send-message-form {
  background-color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: auto;
}

.send-message-form input {width:100%;padding:10px;box-sizing:border-box;
  border-radius: 7px; margin-bottom: 5px; display: block;
  border: 1.5px solid white;}
.send-message-form button {
  border-radius:7px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color .3s;
  background-color: grey;
  color: white;
}

.send-message-form input[type="text"] {
  width: calc(100% - 50px);
  max-width: 200px;
  padding: .8em;
  border: 1px solid #ccc;
  display: block;
  border-radius: 7px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
.send-message-form textarea {
  width: calc(100% - 3px);
  padding: .8em;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

#mailMessage {
  height: 90px;
}
button:hover { background-color: #0056b3; }

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  height: 60px;
  align-items: center;
  text-align: center;
}
